<h4>Here are the stories:</h4>

{{#each model as |story|}}
  <h5>{{story.title}} by {{story.author}}  </h5>
  {{edit-story story=story update='update'}}
  <button {{action 'delete' story}}>Delete</button>
{{/each}}

{{new-story save2="save3"}}
